<div class="header">
    <div class="cloud nav">
      <ul>
        <li> <a href="#">How it works</a> </li>
        <li> <a href="#">Rate developer</a> </li>
      </ul>
      
      </div>
  <div id="background-wrap">
    <div class="x1">
      <div class="cloud">
  
      </div>
    </div>
  
    <div class="x2">
      <div class="cloud">
  
      </div>
    </div>
  
    <div class="x3">
      <div class="cloud">
  
      </div>
    </div>
  
    <div class="x4">
      <div class="cloud">
  
      </div>
    </div>
  
  </div>
</div>