<!-- <div class="container">
    <div class="card-header">
      {{profile.name}}<small>{{profile.login}}</small>
      <span>, works at {{profile.company}}</span>
      {{profile.location}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <img src="{{profile.avatar_url}}" alt="">
        </div>
        <div class="col-md-5">
          <ul class="list-group">
            <li class="list-group-item">
              {{profile.bio}}
            </li>
          </ul>
        </div>
      </div>
    
</div> -->
<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem corporis nisi sit ad ea qui quos praesentium dolore numquam voluptate. Perspiciatis impedit ex fugit quaerat eum itaque, repellat placeat iste?</p> -->