<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 intro">
                <h1 class="col-">Search Github Users & Repos</h1>
                <p>The worlds greatest developers <span class="cloud">cloud</span> storage</p>
        </div>
    </div>
    <div class="row " >
      
       <div class="col-md-12">
           
            <form>
                    <div class="form-group ">
                        <img src="src/assets/github.png" alt="logo" height="200px" width="200px" class="col-md-4">
        
                        <!-- <label for="name">Name</label> -->
                        <input type="text" required class="form-control col-md-8" id="searchUser" placeholder="Search Github Users...">
                        <button class="btn btn success">Search</button>
                    </div>                    
                </form>
       </div>
    </div>
</div>